ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  font-size: 20px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#logo{
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.navLogo{
  object-fit: fill;
  width: 50px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  transition: 0.3s;
}
.activePage {
  background-color: lightgreen;
  color: black;
}

body{
  margin-top:30px;
  padding:20px;
  margin-left: 0px;
  padding-left: 0px;
  font-family: 'helvetica';
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  flex-grow: 1;
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  overflow-x:auto;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  
}

.flex-container {
  display: flex;
  justify-content: center;
}

section.flexbox {
  display: flex;
  justify-content: center;
  height: 400px;
  width: auto;
  align-items: center;
  background-color: white;
  margin-top: auto;
}

div.flexbox{
  display: flex;
  justify-content: center;
  height: 400px;
  width: auto;
  align-items: center;
  background-color: white;
}

.flexbox {
  display: flex;
  justify-content: center space-around;
  margin-top: 4em;
  margin-bottom: 4em;
  border-radius:1em;
}
section{
  background-color: lightgrey;
  margin: 1em;
  border-radius: 1em;
  }

div{
  background-color: lightgrey;
  margin: 1em;
  border-radius: 1em;
}  


h3{
  text-align: center;
/*   padding-top: 1em; */
  font-size: 30px;
}

p{
  text-align: center;
  margin: 2em;
  line-height: 1.8;
}

.imgAbout{
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-top: 1em;
}

.about{
  margin-top: 3em;
  border-radius: 1em;
  padding: 1em;
  padding-left: 0%;
}

tr:nth-child(even) {background-color: #f2f2f2;}

th{
  width: 100%;
  background-color: #CCCCCCCC;
}
td{
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 1em;
  padding-left: 1em;
}

button.session{
  background-color: lightblue;
  padding: 10px 24px;
  font-size: 16px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
button.session:hover{
  background-color: lightgreen;
}

.chartBox{
  align-self: center;
  flex-shrink: 0;
  height: fit-content;
  max-height: -webkit-fill-available;
}

canvas {
  width: 600px;
  background-color: lightgrey;
  border-radius: 1em;
}

p.userinfo{
  text-align:left;
  padding-left: 60px;
  margin: auto;
  line-height: 1.8;
}
h3.userinfo{
  text-align:left;
  padding-left: 60px;
  margin: auto;
  padding-bottom: 1em;
}

h2{
  text-align: center;
  padding-top: 1em;
}
section.userinfo{
  background-color: lightgreen;
  margin: 5em;
  padding-top: 45px;
  padding-bottom: 45px;
  border-radius: 1em;
  margin-top: 3em;
  margin-bottom: 3em;
}