ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
  font-size: 20px;
}

#text{
  height: 25px;
  padding: 4px;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  background: none;
  color: lightgrey;
}

#text:focus{
  outline: none;
  border-bottom: 4px solid black;
}
#button{
  padding: 10px;
  width: 100px;
  color: black;
  background-color: lightblue;
  border: none;
  margin: 2em;
  display: inherit;
}

div{
  text-align: center;
}

#box{
  background-color: lightblue;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
  display: block;
  width: 300px;
  padding: 3em;
  top: 50%;
  border-radius: 15px;
  text-align: left;
  color: black;
}

#logo{
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
.navLogo{
  object-fit: fill;
  width: 50px;
  height: 50px;
}

.imgAbout{
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-top: 1em;
}

.about{
  margin-top: 3em;
  border-radius: 1em;
  padding: 1em;
  padding-left: 0%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  transition: 0.3s;
}
.activePage {
  background-color: lightgreen;
  color: black;
}

body{
  margin-top:30px;
  padding:20px;
  margin-left: 0px;
  padding-left: 0px;
  font-family: 'helvetica';
}

section{
  background-color: lightgrey;
  margin: 1em;
  border-radius: 1em;
  }

h1{
  text-align: center;
  padding-top: 1em;
}

h3{
  text-align: center;
/*   padding-top: 1em; */
  font-size: 30px;
}


table{
  align-items:center;
  justify-content: center;
  margin: auto;
  border-collapse: collapse;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

table:hover{
  cursor: pointer;
}

th{
  background-color: lightblue;
  padding: 1em;
}

th:hover{
  background-color: honeydew;
}

tr{
  padding: 1em;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td{
  padding: 0.5em;
}

td,tr,th{
  border:1px solid white;
  border-collapse: collapse;
  cursor:all-scroll;
 }
 

.fa-check {
  color: green;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.fa-remove {
  color: red;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border-radius: 3em;
}
.flex-container{
  display: flex;
  justify-content: center;
}

iframe{
  margin: 2em;
  width: 75%;
}

p#description{
  padding: 2em;
  width: 25%;
  text-align: left;
}
/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hiddenForm{
  display: none;
}

img{
  height: 20px;
  width: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input{
  display: block;
  margin: auto;
}

button{
  display: block;
  margin: auto;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  flex-grow: 1;
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  overflow-x:auto;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.default{
  display: block;
}

  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }